html {
    background-color: #A3A3A3;
}

#tillhemskärm {
    text-decoration: none; /* Ingen understrykning */
    color: white; /* Färgen på texten */
}

#tillhemskärm:visited {
    color: white; /* Håll färgen vit även för besökta länkar */
}

header {
    color: white;
    font-family: 'Roboto', 'helvetica';
    border-bottom: white solid 3px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#displaylinkedinikon {
    display: flex;
    align-items: center;
    justify-content: space-between; /* För att sprida rubriken och ikonerna jämnt */
    margin-right: 80px;
}

#mailikon, #linkedinikon {
    margin-left: 20px; /* Skapar mellanrum mellan ikonerna */
}

#introduktioneleiko {
    font-family: 'Roboto', 'helvetica';
    font-weight: 350;
    color: white;
    background-color: #094F6C;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

#meintheprojecteleiko {
    color: #ffff;
    width: 100%;
    margin-left: 280px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
}

#rubrikeleiko {
    margin-top: 35px;
    font-size: 32px;
    font-family: 'Roboto', 'helvetica';
    width: 700px;
    margin-bottom: 0px;
}

#underrubrikeleiko {
    font-size: 22px;
    margin-top: 5px;
}

#displaymeintheprojecteleiko {
    display: flex;
    align-items: flex-start;
}

#descriptioneleiko {
    font-family: 'Roboto', 'helvetica';
    font-weight: 350;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    text-align: center;
}

#descriptionrubrikeleiko {
    font-size: 32px;
    font-family: 'Roboto', 'helvetica';
    font-weight: 400;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#designprocesseleiko {
    background-color: white;
    color: black;
    font-family: 'Roboto', 'helvetica';
    font-weight: 350;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding: 40px;
}

#rubrikDPeleiko {
    text-align: center;
    font-size: 32px;
    font-family: 'Roboto', 'helvetica';
    font-weight: 400;
    margin-top: 0px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#prepatoryworkeleiko {
    background-color: white;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 40px;
}

#PWPSABeleiko {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#processovervieweleiko {
    width: 100%;
    height: auto;
    align-items: center;
}

#displayprepatoryeleiko {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

#researcheleiko {
    margin-top: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 40px;
    text-align: center;
}

#rubrikresearcheleiko {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#compiledataimageeleiko {
    max-width: 80%;
    height: auto;
}

#stakeholderimageeleiko {
    max-width: 50%;
    height: auto;
    margin-bottom: 40px;
}

#stakeholdertexteleiko {
    width: 400px;
}

#displaystakeholdereleiko {
    display: flex;
    align-items: center;
    margin-left: 120px;
}

#currentstatedefinitioneleiko {
    margin-top: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 40px;
    text-align: center;
}

#rubrikCSCDeleiko {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#rubrikCSMeleiko {
    margin-top: 40px;
}

#customerjourneyimageeleiko {
    max-width: 70%;
    height: auto;
    margin-top: 20px;
}

#currentstatedefinitioneleiko p {
    margin-bottom: 10px;
}

#customerjourneymaptexteleiko {
    margin-right: 20px;
}

#FCJMrubrikeleiko {
    margin-top: 40px;
}

#futureCJMimageeleiko {
    max-width: 60%;
    height: auto;
    margin-top: 20px;
}

#futureCJMtexteleiko {
    margin-right: 20px;
}

#SBPrubrikeleiko {
    margin-top: 40px;
}

#SBPimageeleiko {
    max-width: 80%;
    height: auto;
    border: 1px solid #404040;
    margin-top: 20px;
}

/*Result: Desing solutions Eleiko */

#designsolutionseleiko {
    background-color: white;
    color: black;
    font-family: 'Roboto', 'helvetica';
    font-weight: 350;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
}

#designsolutionseleiko h2 {
    font-size: 32px;
    font-family: 'Roboto', 'helvetica';
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#strengthasaservicedesignsolutions {
    background-color: white;
    font-family: 'Roboto', 'helvetica';
    font-weight: 350;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 40px;
    margin-bottom: 40px;
}

#rubrikSAASeleiko {
    font-size: 24px;
    margin-top: 0px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#SAASimageeleiko {
    max-width: 100%;
    height: auto;
}

#rubrikECeleiko {
    margin-top: 20px;
    font-size: 24px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#eleikocollectdesignsolutions {
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 40px;
}

#storboardECimage {
    max-width: 100%;
    height: auto;
}

#corporateaccountdesingsolutionseleiko {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
}

#rubrikCAeleiko {
    font-size: 24px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#displayCAeleiko {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

#CAeleiko1 {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 41%;
    height: 100%;
    min-height: 280px;
    margin-right: 20px;
}

#CAeleiko2 {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 41%;
    height: 100%;
    min-height: 280px;
    margin-left: 20px;
    margin-right: 60px;
}

#CAimageeleiko1 {
    max-width: 41%;
    margin: 20px;
}

#CAimageeleiko2 {
    max-width: 41%;
    margin: 20px;
}

/*Insights Eleiko*/
#insightseleiko {
    background-color: white;
    color: black;
    font-family: 'Roboto', 'helvetica';
    font-weight: 350;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
}

#rubrikinsightseleiko {
    font-family: 'Roboto', 'helvetica';
    font-weight: 400;
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#insightseleiko li {
    margin-top: 20px;
}

/* Media: Eleiko */
@media only screen and (max-width: 768px) {

    html {
        font-size: 14px; /* Minska textstorleken för mindre skärmar */
        width: 100%;
    }

    header {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #introduktioneleiko {
      padding: 20px;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 0px;
      border-radius: 20px;
    }
  
    #meintheprojecteleiko {
      width: auto;
      margin: 10px auto;
    }
  
    #rubrikeleiko {
      font-size: 32px;
      width: auto;
    }
  
    #underrubrikeleiko {
      font-size: 20px;
      margin-top: 10px;
    }
  
    #descriptioneleiko {
      padding: 20px;
      margin-bottom: 20px;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 0px;
    }
  
    #informationboxeseleiko {
      flex-direction: column;
      align-items: center;
    }
  
    #identifiedDReleiko, #identifiedproblemeleiko, #goaloftheprojecteleiko, #identifiedchallengeseleiko {
      width: auto;
      height: auto;
      margin: 10px 0;
    }
  
    #designprocesseleiko {
      padding: 20px;
      margin: 20px;
    }
  
    #rubrikDPeleiko {
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    #prepatoryworkeleiko, #researcheleiko, #currentstatedefinitioneleiko, #designsolutionseleiko, 
    #strengthasaservicedesignsolutions, #eleikocollectdesignsolutions, #corporateaccountdesingsolutionseleiko, #insightseleiko {
      padding: 20px;
      margin: 20px;
      border-radius: 20px;
    }
  
    #displaymeintheprojecteleiko, #displayprepatoryeleiko, #displaystakeholdereleiko, #displayCAeleiko {
      flex-direction: column;
      align-items: center;
    }
  
    #processovervieweleiko, #compiledataimageeleiko, #customerjourneyimageeleiko, #futureCJMimageeleiko,
    #SBPimageeleiko, #CAimageeleiko1, #CAimageeleiko2, #storboardECimage, #SAASimageeleiko {
      max-width: 100%;
      height: auto;
      margin: 0;
    }
  
    #customerjourneymaptexteleiko, #futureCJMtexteleiko {
      width: auto;
      margin: 10px 0;
    }

    #stakeholdertexteleiko {
        width: 170px;
        margin-right: 120px;
    }

    #stakeholderimageeleiko {
        max-width: 100%;
        height: auto;
        margin-right: 130px;
    }

    #rubrikdesignsolutionseleiko {
        font-size: 24px !important;
    }
  
    #CAeleiko1 {
      width: 150px;
      height: auto;
      margin-right: 70px;
      margin-bottom: 10px;
    }

    #CAeleiko2 {
        width: 150px;
        height: auto;
        margin-right: 90px;
        margin-top: 10px;
    }
  
    #rubrikSAASeleiko, #rubrikECeleiko, #rubrikCAeleiko {
      font-size: 20px;
    }
  }

  @media (min-width: 1900px) {
    body {
        margin-left: 200px;
        margin-right: 200px;
    }

    #introduction {
        padding-left: 65px;
        padding-right: 40px;
    }
   
    #meintheprojecteleiko {
        margin-left: 370px;
    }

    #displayCAeleiko {
        margin-left: 90px;
    }

    #processovervieweleiko {
        max-width: 100%;
        height: auto;
    }

    #customerjourneyimageeleiko {
        max-width: 100%;
        height: auto;
    }

    #futureCJMimageeleiko {
        max-width: 80%;
        height: auto;
    }

    #SBPimageeleiko {
        max-width: 100%;
        height: auto;
    }
  }