
html {
    background-color: #A3A3A3;
}

#tillhemskärm {
    text-decoration: none; /* Ingen understrykning */
    color: white; /* Färgen på texten */
}

#tillhemskärm:visited {
    color: white; /* Håll färgen vit även för besökta länkar */
}

header {
    color: white;
    font-family: 'Roboto', 'helvetica';
    border-bottom: white solid 3px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#displaylinkedinikon {
    display: flex;
    align-items: center;
    justify-content: space-between; /* För att sprida rubriken och ikonerna jämnt */
    margin-right: 80px;
}

#mailikon, #linkedinikon {
    margin-left: 20px; /* Skapar mellanrum mellan ikonerna */
}

.myportfolio {
    background-color: white;
    color: black;
    font-family: 'Roboto', 'helvetica';
    font-weight: 350;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 40px;
    text-align: center;
}

#myportfoliointro {
    background-color: #132A0A;
    color: white;
    font-family: 'Roboto', 'helvetica';
    font-weight: 350;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 40px;
}

#lastsectionmyportfolio {
    background-color: white;
    color: black;
    font-family: 'Roboto', 'helvetica';
    font-weight: 350;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    text-align: center;
}

#myportfolioDaG {
    background-color: white;
    color: black;
    font-family: 'Roboto', 'helvetica';
    font-weight: 350;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px;
    text-align: center;
}

#rubrikmyportfolio {
    font-size: 32px;
    font-family: 'Roboto', 'helvetica';
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 30px;
}

#underrubrikmyportfolio {
    font-family: 'Roboto', 'helvetica';
    font-size: 22px;
    margin-left: 20px;
    margin-top: 10px;
}

#myportfoliointro h3 {
    margin-top: 0px;
    margin-left: 20px;
}

.displaymyportfolio {
    display: flex;
    align-items: flex-start;
}

#DOTPmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 100%;
}

#goalwiththisprojectmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    height: 145px;
}

#HTMLmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    min-height: 160px;
    height: 100%;
}

#CSSmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    min-height: 160px;
    height: 100%;
}

#challengesmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    min-height: 280px;

}

#insightsmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 100%;
    min-height: 280px;
}

.rubrikchallengesinsightsmyportfolio {
    font-size: 28px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', 'helvetica';
    font-weight: 400;
    margin-top: 10px;
}

#CCimages1 {
    max-width: 21%;
    height: auto;
}

#CCimages2 {
    max-width: 25%;
    height: auto;
}

#CCimages3 {
    max-width: 60%;
    height: auto;
}

#CCimages4 {
    max-width: 160px;
    height: auto;
}

#CCimages5 {
    max-width: 220px;
    height: auto;
}

#CCimages6 {
    max-width: 195px;
    height: auto;
}

#CCimages7 {
    max-width: 70%;
    height: auto;
}

#CCimages8 {
    max-width: 60%;
    height: auto;
}

#rubrikCC {
    font-size: 32px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto', 'helvetica';
    font-weight: 400;
    margin-top: 10px;
}

#createthestructureCCmyfortfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}

#dynamicsCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#connectdifferentpagesCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#spacearoundcontentCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#facilitateCSSstylingCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#controlsizeCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#imagesCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#stylingCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

/* Media: My Portfolio */
@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    #myportfoliointro {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
        margin-top: 20px;
        padding-left: 80px;
        padding-top: 20px;
    }

    #myportfolioDaG {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 0px;
        padding: 20px;
    }

    .myportfolio, #lastsectionmyportfolio, #DOTPmyportfolio, #goalwiththisprojectmyportfolio,
    #HTMLmyportfolio, #CSSmyportfolio, #challengesmyportfolio, #insightsmyportfolio, #createthestructureCCmyfortfolio,
    #dynamicsCCmyportfolio, #connectdifferentpagesCCmyportfolio, #spacearoundcontentCCmyportfolio,
    #facilitateCSSstylingCCmyportfolio, #controlsizeCCmyportfolio, #imagesCCmyportfolio, #stylingCCmyportfolio {
        margin: 20px;
        padding: 20px;
        max-width: 90%;
        height: auto;
        box-sizing: border-box;
    }

    #rubrikmyportfolio {
        font-size: 24px;
        margin-left: 10px;
    }

    .displaymyportfolio {
        flex-direction: column;
        align-items: center;
    }

    /* Bilder */
    #CCimages1 {
        max-width: 80px;
        height: auto;
    }

    #CCimages2, #CCimages4, #CCimages5, #CCimages6 {
        height: auto;
        max-width: 150px;
    }

    #CCimages3, #CCimages7, #CCimages8 {
        max-width: 230px;
        height: auto;
    }

    #rubrikCC {
        font-size: 20px;
    }
}

@media (min-width: 1900px) {
    body {
        margin-left: 200px;
        margin-right: 200px;
    }

    #introduction {
        padding-left: 65px;
        padding-right: 40px;
    }
    
    #DOTPmyportfolio {
        height: 145px;
    }
}