/*Presentaion of me*/ 

html {
    background-color: #A3A3A3;
}

#tillhemskärm {
    text-decoration: none; /* Ingen understrykning */
    color: white; /* Färgen på texten */
}

#tillhemskärm:visited {
    color: white; /* Håll färgen vit även för besökta länkar */
}

header {
    color: white;
    font-family: 'helvetica';
    border-bottom: white solid 3px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#namnyrke {
    text-align: center;
    margin-bottom: 40px;
}

#horisont {
    display: flex;
    align-items: flex-start;
}

#whoami {
    border: #656565 solid 1px;
    width: 322px;
    height: 280px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#educationUX {
    border: #656565 solid 1px;
    width: 322px;
    height: 280px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#educationFEP {
    border: #656565 solid 1px;
    width: 655px;
    height: 280px;
    margin: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#displaypresentationavmig {
    display: flex;
    align-items: flex-start;
}

#contact {
    border: #656565 solid 1px;
    width: 322px;
    height: 280px;
    margin: 10px;
    margin-right: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#displaylinkedinikon {
    display: flex;
    align-items: center;
    justify-content: space-between; /* För att sprida rubriken och ikonerna jämnt */
    margin-right: 80px;
}

#mailikon, #linkedinikon {
    margin-left: 20px; /* Skapar mellanrum mellan ikonerna */
}


#designvision {
    width: 535px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    border-radius: 15px;
}

#poträtt {
    border: #656565 solid 1px;
    border-radius: 15px;
    width: auto;
    height: 280px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#introduction {
    height: 710px;
    background-color: white;
    border-radius: 30px;
    color: #404040;
    font-family: 'helvetica';
    margin: 40px;
    padding: 40px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#mellanrumFEE {
    margin-top: 35px;
}

/*Design projekt*/ 

#minadesignprojekt {
    height: 340px;
    background-color: white;
    border-radius: 30px;
    color: #404040;
    font-family: 'helvetica';
    margin: 40px;
    padding: 20px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#designstudios {
    display: flex;
    gap: 30px; /* Avstånd mellan korten */
    margin-left: 40px;
    }

#designprojects {
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'helvetica';
    color: #404040;
}

a {
    text-decoration: none;
}

#designstudio1, #designstudio2 {
    position: relative; /* För att placera text ovanpå bilder */
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden; /* Klipp bort överflöd från innehåll */
}

#designstudio1 img, #designstudio2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Gör så att bilden fyller kortet utan att bli förvrängd */
    border-radius: 30px;
}

#mellanrumdesignstudio1, #mellanrumdesignstudio2 {
    position: absolute; /* Placera text ovanpå bilden */
    top: 5px; /* Placering från toppen av kortet */
    left: 10px;
    right: 10px;
    color: #404040;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Gör texten lättare att läsa */
    font-family: 'helvetica';
}

#saasrubrik {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 0px;
    background-color: white;
    padding:10px;
    width: 200px;
    border-radius: 10px;
}

#saasinriktning {
    margin-left: 125px;
    margin-top: 105px;
    width: 128px;
    font-size: 18px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#larubrik {
    font-size: 18px;
    margin-left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 186px;
}

#lainriktning {
    margin-left: 135px;
    margin-top: 125px;
    font-size: 18px;
    width: 112px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

/*Programmerings projekt*/ 
#minaprogrammeringsprojekt {
    height: 340px;
    background-color: white;
    border-radius: 30px;
    color: #404040;
    font-family: 'Helvetica', sans-serif;
    margin: 40px;
    padding: 20px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

#programmingprojects {
    margin-left: 40px;
    margin-top: 20px;
}

#portfolio {
    background-color: white;
    color: white;
    margin-left: 40px;
    border-radius: 31px;
    width: 300px;
    height: 250px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
    position: relative; /* Behövs för absolut positionering av barn */
    overflow: hidden; /* Förhindrar text att sticka ut */
}

#portfolio img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#myportfolio {
    font-size: 18px;
    font-weight: bold;
    color: #404040;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Gör texten lättare att läsa */
    padding: 10px;
    position: absolute;
    top: 5px;
    left: 15px;
    border-radius: 10px;
    background-color: white;
}

#MPinriktning {
    font-size: 16px;
    font-weight: bold;
    color: #404040;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Gör texten lättare att läsa */
    padding: 10px;
    position: absolute; /* Placera texten relativt föräldern (#portfolio) */
    bottom: 5px; /* Placera texten nära botten av bilden */
    right: 25px; /* Placera texten till höger */
    border-radius: 10px;
    background-color: white;
}

/* Media hemskärm */
@media only screen and (max-width: 768px) {

    html {
        font-size: 14px; /* Minska textstorleken för mindre skärmar */
        width: 100%;
    }

    header {
        margin-left: 20px;
        margin-right: 20px;
    }

    #namnyrke {
        font-size: 1.5rem;
    }

    #introduction {
        height: 1670px;
        margin-left: 15px;
        margin-right: 15px;
    }

    #horisont {
        flex-direction: column; /* Byt till vertikal layout på mobila enheter */
        align-items: center;
    }

    #displaypresentationavmig {
        flex-direction: column; /* Byt till vertikal layout på mobila enheter */
        align-items: center;
    }

    #whoami, #educationUX, #contact, #educationFEP {
        width: 100%; /* Gör divarna fullbredd på mobila enheter */
        height: auto;
        margin: 10px 0;
        padding: 20px;
    }

    #designvision {
        width: 100%;
        margin-top: 0px;
        margin-left: 20px;
        text-align: center;
    }

    /* Media: Design Projects */
    #minadesignprojekt {
        height: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    #designprojects {
        text-align: center;
        margin-right: 40px;
    }

    #designstudios {
        display: block; /* Vertikal layout för designprojekten */
        margin-left: 0;
    }

    #designstudio1, #designstudio2 {
        width: 90%;
        height: auto;
        margin-bottom: 20px;
        margin-left: 15px;
    }

    #larubrik {
        text-align: center;
    }

    #lainriktning {
        text-align: center;
        margin-left: 10px;
        margin-top: 0px;
    }

    #saasrubrik {
        margin-left: 5px;
    }

    #saasinriktning {
        text-align: center;
        margin-left: 5px;
        margin-top: 15px;
    }

/* Medai: Programmerings projekt*/
    #minaprogrammeringsprojekt {
        height: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    #programmingprojects {
        margin-left: 25px;
    }

    #portfolio {
        width: 90%;
        height: auto;
        align-items: center;
        margin-left: 15px;
    }

    #myportfolio {
        font-size: 16px;
        top: 10px;
        left: 20px;
    }

    #MPinriktning {
        font-size: 14px;
        bottom: 10px;
        right: 25px;
        margin-right: 135px;
        margin-bottom: 60px;
    }

}

@media (min-width: 1024px) {
    body {
        margin-left: 180px;
        margin-right: 180px;
    }
}


/*Lock app: Volvo*/

#introduktion {
    font-family: 'Helvetica', sans-serif;
    color: white;
    background-color: #1B365D;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

#meintheproject {
    background-color: white;
    color: #404040;
    border-radius: 15px;
    padding: 10px;
    width: 230px;
    margin-left: 320px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#rubrikvolvo {
    margin-top: 35px;
    font-size: 42px;
    width: 700px;
    margin-bottom: 0px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#underrubrikvolvo {
    font-size: 28px;
    margin-top: 5px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#displaymeintheproject {
    display: flex;
    align-items: flex-start;
}

#description {
    font-family: 'Helvetica', sans-serif;
    color: #404040;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#informationboxes {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

#identifiedDR {
    background-color: white;
    color: #404040;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    width: 450px;
    height: 150px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#identifiedproblem {
    background-color: white;
    color: #404040;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 30px;
    width: 450px;
    height: 150px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#goaloftheproject {
    background-color: white;
    color: #404040;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 30px;
    width: 450px;
    height: 150px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#identifiedchallenges {
    background-color: white;
    color: #404040;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    width: 450px;
    height: 150px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#designprocessvolvo {
    background-color: white;
    color: #404040;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column; /* Behåll vertikal layout */
    align-items: center; /* Centrera horisontellt */
    justify-content: center; /* Centrera vertikalt */
}

#rubrikDP {
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#DPvolvoimage {
    width: 1300px;
    height: auto;
    margin-bottom: 10px;
}

#PSPWvolvo {
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
}

#PSPWABvolvo {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

.mellanrum {
    margin-bottom: 40px;
}

#researchvolvo {
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
}

#rubrikresearchvolvo {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#volvoresearchsummary {
    background-color: #E6E6E6;
    color: #404040;
    padding: 20px;
    border-radius: 30px;
    width: 1180px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

#IGvolvo {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
}

#IGrubrikvolvo {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#displayimages {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
}

#sketchvolvo1 {
    width: 360px;
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #404040;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#sketchvolvo2 {
    width: 360px;
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #404040;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#sketchvolvo3 {
    width: 360px;
    height: auto;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #404040;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#wireframesmellanrum {
    margin-top: 40px;
}

#displaywireframes {
    display: flex;
    align-items: center; /* Vertikal centrering */
    justify-content: center; /* Horisontell centrering */
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#wireframevolvo1 {
    width: 200px;
    height: auto;
    border: solid 1px #404040;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    margin-left: 10px;
}

#wireframevolvo2 {
    width: 200px;
    height: auto;
    border: solid 1px #404040;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    margin-left: 10px;
}

#wireframevolvo3 {
    width: 200px;
    height: auto;
    border: solid 1px #404040;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
    margin-left: 10px;
}

.arrow {
    font-size: 80px;
    margin-top: 170px;
}

#prototypingvolvo {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
}

#prototypingrubrikvolvo {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#evaluationsvolvo {
    margin-top: 40px;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
}

#evaluationrubrikvolvo {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#lowsharevolvo {
    width: 200px;
    height: auto;
    border: solid 1px #404040;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

#shareversion1volvo {
    width: 200px;
    height: auto;
    border: solid 1px #404040;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

#shareversion2volvo {
    width: 200px;
    height: auto;
    border: solid 1px #404040;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

#shareversion3volvo {
    width: 200px;
    height: auto;
    border: solid 1px #404040;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

#displayiteration {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.arrowiteration {
    font-size: 50px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#finalprototypevolvo {
    margin-top: 40px;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

#FPrubrikvolvo {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

/*Design solutions volvo*/

/* Section Styling */
#designsolutionsvolvo {
    background-color: white;
    margin: 40px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Helvetica', sans-serif;
    color: #404040;
    height: 1780px;
  }
  
  #rubrikdesignsolutionsvolvo {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 30px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  /* Grid Layout */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  /* Card Styling */
  .card {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: solid 1px #404040;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .card .title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card .textvolvo {
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .card-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    border: 1px solid #404040;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  

  #insightsvolvo {
    background-color: white;
    color: #404040;
    font-family: 'Helvetica', sans-serif;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 40px;
  }

  #rubrikinsightsvolvo {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
  }

  #insightsvolvo ul li {
    margin-bottom: 20px; /* Skapar ett mellanrum på 15px under varje listpunkt */
  }


/* Media: Volvo*/
  @media (max-width: 768px) {
    /* Anpassa allmänna marginaler och padding */
    #introduktion, #description, #designsolutionsvolvo, #insightsvolvo {
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
    }

    #meintheproject {
        margin-left: 0px;
    }

    #description {
        padding: 20px;
    }

    /* Rubriker */

    #rubrikvolvo {
        font-size: 24px;
        margin-left: 450px;
    }

    #underrubrikvolvo {
        font-size: 18px;
    }

    #rubrikDP, #rubrikdesignsolutionsvolvo, #rubrikinsightsvolvo {
        font-size: 24px;
    }

    #IGrubrikvolvo, #PSPWABvolvo, #evaluationrubrikvolvo, #FPrubrikvolvo {
        font-size: 18px;
    }

    #designprocessvolvo {
        margin-right: 10px;
        margin-left: 10px;
    }

    #researchvolvo {
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Cards och container */
    .grid-container {
        grid-template-columns: 1fr; /* Visa en kolumn */
        gap: 10px;
    }

    .card {
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }

    /* Bilder */
    .card-image, #DPvolvoimage, 
    #wireframevolvo1, #wireframevolvo2, #wireframevolvo3, 
    #lowsharevolvo, #shareversion1volvo, #shareversion2volvo, #shareversion3volvo {
        max-width: 100%;
        height: auto;
    }

    /* Flexbox och layoutjusteringar */
    #informationboxes, #displaymeintheproject, #displayimages, #displaywireframes, #displayiteration {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .arrow, .arrowiteration {
        font-size: 40px;
        margin: 10px 0;
    }

    /* Justera boxstorlek */
    #identifiedDR, #identifiedproblem, #goaloftheproject, #identifiedchallenges {
        width: 100%;
        height: auto;
        margin: 5px 0;
    }

    #volvoresearchsummary {
        width: 80%;
        margin-right: 60px;
    }

    #sketchvolvo1, #sketchvolvo2, #sketchvolvo3 {
        width: 150px;
    }

    #designsolutionsvolvo {
        height: auto;
    }
}
  
  /*Eleiko*/

  #introduktioneleiko {
    font-family: 'Helvetica', sans-serif;
    color: white;
    background-color: #094F6C;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

#meintheprojecteleiko {
    background-color: white;
    color: #404040;
    border-radius: 15px;
    padding: 10px;
    width: 260px;
    margin-left: 280px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#rubrikeleiko {
    margin-top: 35px;
    font-size: 42px;
    width: 700px;
    margin-bottom: 0px;
}

#underrubrikeleiko {
    font-size: 28px;
    margin-top: 5px;
}

#displaymeintheprojecteleiko {
    display: flex;
    align-items: flex-start;
}

#descriptioneleiko {
    font-family: 'Helvetica', sans-serif;
    color: #404040;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#informationboxeseleiko {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

#identifiedDReleiko {
    background-color: white;
    color: #404040;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    width: 450px;
    height: 140px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#identifiedproblemeleiko {
    background-color: white;
    color: #404040;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 30px;
    width: 450px;
    height: 140px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#goaloftheprojecteleiko {
    background-color: white;
    color: #404040;
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 30px;
    width: 450px;
    height: 140px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#identifiedchallengeseleiko {
    background-color: white;
    color: #404040;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
    width: 450px;
    height: 140px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#designprocesseleiko {
    background-color: white;
    color: #404040;
    font-family: 'Helvetica', sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding: 40px;
}

#rubrikDPeleiko {
    text-align: center;
    font-size: 32px;
    margin-top: 0px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#prepatoryworkeleiko {
    background-color: white;
    border-radius: 30px;
    text-align: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

#PWPSABeleiko {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#processovervieweleiko {
    width: 600px;
    height: auto;
    margin-left: 20px;
}

#displayprepatoryeleiko {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

#researcheleiko {
    margin-top: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
}

#rubrikresearcheleiko {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#compiledataimageeleiko {
    width: 1000px;
    height: auto;
}

#stakeholderimageeleiko {
    width: 600px;
    height: auto;
    margin-bottom: 40px;
}

#stakeholdertexteleiko {
    width: 400px;
}

#displaystakeholdereleiko {
    display: flex;
    align-items: center;
    margin-left: 120px;
}

#currentstatedefinitioneleiko {
    margin-top: 40px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
}

#rubrikCSCDeleiko {
    font-size: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#rubrikCSMeleiko {
    margin-top: 40px;
}

#customerjourneyimageeleiko {
    width: 800px;
    height: auto;
}

#currentstatedefinitioneleiko p {
    margin-bottom: 10px;
}

#customerjourneymaptexteleiko {
    margin-right: 20px;
}

#FCJMrubrikeleiko {
    margin-top: 40px;
}

#futureCJMimageeleiko {
    width: 600px;
    height: auto;
}

#futureCJMtexteleiko {
    margin-right: 20px;
}

#SBPrubrikeleiko {
    margin-top: 40px;
}

#SBPimageeleiko {
    width: 1100px;
    height: auto;
    border: 1px solid #404040;
}

/*Result: Desing solutions Eleiko */

#designsolutionseleiko {
    background-color: white;
    color: #404040;
    font-family: 'Helvetica', sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
}

#designsolutionseleiko h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 0px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#strengthasaservicedesignsolutions {
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 40px;
}

#rubrikSAASeleiko {
    font-size: 24px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#SAASimageeleiko {
    width: 1150px;
    height: auto;
}

#rubrikECeleiko {
    margin-top:20px;
    font-size: 24px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#eleikocollectdesignsolutions {
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

#storboardECimage {
    width: 1150px;
    height: auto;
}

#corporateaccountdesingsolutionseleiko {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    margin-top: 40px;
}

#rubrikCAeleiko {
    font-size: 24px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#displayCAeleiko {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

#CAeleiko1 {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 240px;
    margin-right: 20px;
}

#CAeleiko2 {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    height: 240px;
    margin-left: 20px;
}

#CAimageeleiko1 {
    width: 530px;
    margin: 20px;
}

#CAimageeleiko2 {
    width: 530px;
    margin: 20px;
}

/*Insights Eleiko*/
#insightseleiko {
    background-color: white;
    color: #404040;
    font-family: 'Helvetica', sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
}

#insightseleiko li {
    margin-top: 20px;
}

/* Media: Eleiko */
@media only screen and (max-width: 768px) {

    #introduktioneleiko {
      padding: 20px;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 0px;
      border-radius: 20px;
    }
  
    #meintheprojecteleiko {
      width: auto;
      margin: 10px auto;
    }
  
    #rubrikeleiko {
      font-size: 32px;
      width: auto;
    }
  
    #underrubrikeleiko {
      font-size: 20px;
      margin-top: 10px;
    }
  
    #descriptioneleiko {
      padding: 20px;
      margin-bottom: 20px;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 0px;
    }
  
    #informationboxeseleiko {
      flex-direction: column;
      align-items: center;
    }
  
    #identifiedDReleiko, #identifiedproblemeleiko, #goaloftheprojecteleiko, #identifiedchallengeseleiko {
      width: auto;
      height: auto;
      margin: 10px 0;
    }
  
    #designprocesseleiko {
      padding: 20px;
      margin: 20px;
    }
  
    #rubrikDPeleiko {
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  
    #prepatoryworkeleiko, #researcheleiko, #currentstatedefinitioneleiko, #designsolutionseleiko, 
    #strengthasaservicedesignsolutions, #eleikocollectdesignsolutions, #corporateaccountdesingsolutionseleiko, #insightseleiko {
      padding: 20px;
      margin: 20px;
      border-radius: 20px;
    }
  
    #displaymeintheprojecteleiko, #displayprepatoryeleiko, #displaystakeholdereleiko, #displayCAeleiko {
      flex-direction: column;
      align-items: center;
    }
  
    #processovervieweleiko, #compiledataimageeleiko, #customerjourneyimageeleiko, #futureCJMimageeleiko,
    #SBPimageeleiko, #CAimageeleiko1, #CAimageeleiko2, #storboardECimage, #SAASimageeleiko {
      width: 100%;
      height: auto;
      margin: 0;
    }
  
    #customerjourneymaptexteleiko, #futureCJMtexteleiko {
      width: auto;
      margin: 10px 0;
    }

    #stakeholdertexteleiko {
        width: 170px;
        margin-right: 120px;
    }

    #stakeholderimageeleiko {
        width: 200px;
        height: auto;
        margin-right: 130px;
    }

    #rubrikdesignsolutionseleiko {
        font-size: 24px !important;
    }
  
    #CAeleiko1 {
      width: 150px;
      height: auto;
      margin-right: 70px;
      margin-bottom: 10px;
    }

    #CAeleiko2 {
        width: 150px;
        height: auto;
        margin-right: 90px;
        margin-top: 10px;
    }
  
    #rubrikSAASeleiko, #rubrikECeleiko, #rubrikCAeleiko {
      font-size: 20px;
    }
  }
  


/*Programmering: My Portfolio*/
.myportfolio {
    background-color: white;
    color: #404040;
    font-family: 'Helvetica', sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 40px;
    text-align: center;
}

#myportfoliointro {
    background-color: #132A0A;
    color: white;
    font-family: 'Helvetica', sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 40px;
}

#lastsectionmyportfolio {
    background-color: white;
    color: #404040;
    font-family: 'Helvetica', sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    text-align: center;
}

#myportfolioDaG {
    background-color: white;
    color: #404040;
    font-family: 'Helvetica', sans-serif;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px;
    text-align: center;
}

#rubrikmyportfolio {
    font-size: 42px;
    margin-left: 20px;
    margin-bottom: 15px;
}

#myportfoliointro h3 {
    margin-top: 0px;
    margin-left: 20px;
}

.displaymyportfolio {
    display: flex;
    align-items: flex-start;
}

#DOTPmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 600px;
}

#goalwiththisprojectmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 600px;
    height: 145px;
}

#HTMLmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 600px;
    height: 145px;
}

#CSSmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 600px;
    height: 145px;
}

#CSSmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 600px;
    height: 145px;
}

#challengesmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 600px;
    height: 268px;

}

#insightsmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 600px;
}

#CCimages1 {
    width: 100px;
    height: auto;
}

#CCimages2 {
    width: 185px;
    height: auto;
}

#CCimages3 {
    width: 340px;
    height: auto;
}

#CCimages4 {
    width: 160px;
    height: auto;
}

#CCimages5 {
    width: 220px;
    height: auto;
}

#CCimages6 {
    width: 195px;
    height: auto;
}

#CCimages7 {
    width: 380px;
    height: auto;
}

#CCimages8 {
    width: 420px;
    height: auto;
}

#rubrikCC {
    font-size: 28px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

#createthestructureCCmyfortfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
}

#dynamicsCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#connectdifferentpagesCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#spacearoundcontentCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#facilitateCSSstylingCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#controlsizeCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#imagesCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

#stylingCCmyportfolio {
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    height: 225px;
}

/* Media: My Portfolio */
@media screen and (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }

    #myportfoliointro {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
        margin-top: 20px;
        padding-left: 80px;
        padding-top: 20px;
    }

    #myportfolioDaG {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 0px;
        padding: 20px;
    }

    .myportfolio, #lastsectionmyportfolio, #DOTPmyportfolio, #goalwiththisprojectmyportfolio,
    #HTMLmyportfolio, #CSSmyportfolio, #challengesmyportfolio, #insightsmyportfolio, #createthestructureCCmyfortfolio,
    #dynamicsCCmyportfolio, #connectdifferentpagesCCmyportfolio, #spacearoundcontentCCmyportfolio,
    #facilitateCSSstylingCCmyportfolio, #controlsizeCCmyportfolio, #imagesCCmyportfolio, #stylingCCmyportfolio {
        margin: 20px;
        padding: 20px;
        width: 90%;
        height: auto;
        box-sizing: border-box;
    }

    #rubrikmyportfolio {
        font-size: 24px;
        margin-left: 10px;
    }

    .displaymyportfolio {
        flex-direction: column;
        align-items: center;
    }

    /* Bilder */
    #CCimages1 {
        width: 80px;
        height: auto;
    }

    #CCimages2, #CCimages4, #CCimages5, #CCimages6 {
        height: auto;
        width: 150px;
    }

    #CCimages3, #CCimages7, #CCimages8 {
        width: 230px;
        height: auto;
    }

    #rubrikCC {
        font-size: 20px;
    }
}
